@page "/Create"
@inject ClientesService clientesService;
@rendermode InteractiveServer

<PageTitle>Registro de Tickets</PageTitle>
<EditForm Model="clientes" OnValidSubmit="Guardar">
    <DataAnnotationsValidator/>
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header alert-secondary" style="color: white; background-color: royalblue;">
                <NavLink class="btn btn-light float-end" href="Details">Consultar Clientes</NavLink>
                <h1><strong>Crear</strong></h1>
                <h3>Clientes</h3>
            </div>

            <div class="card-body">
                @*Cliente Id*@
                <div class="input-group mb-3">
                    <div class="col-xs-8 col-sm-12 col-md-8 col-lg-3 col-xl-2.5">
                        <label for="id"><strong>ID:</strong></label>
                        <div class="input-group">
                            <InputNumber @bind-Value="clientes.ClientesId" class="form-control" aria-describedby="BotonBuscar" />
                            <button @onclick="Buscar" class="btn btn-primary bi bi-search-heart" type="button" id="BotonBuscar"></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Nombre -->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <label class="form-label" for="Nombres"><strong>Nombre:</strong></label>
                        <InputText @bind-Value="clientes.Nombres" class="form-control" />
                        <ValidationMessage For="@(() => clientes.Nombres)" />
                    </div>

                    <!-- RNC -->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <label class="form-label" for="RNC"><strong>RNC:</strong></label>
                        <InputNumber @bind-Value="clientes.RNC" class="form-control" />
                        <ValidationMessage For="@(() => clientes.RNC)" />
                    </div>
                </div>

                <!-- Celular -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <label class="form-label" for="Celular"><strong>Celular:</strong></label>
                        <InputNumber @bind-Value="clientes.Celular" class="form-control" />
                        <ValidationMessage For="@(() => clientes.Celular)" />
                    </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <label class="form-label" for="Email"><strong>Email:</strong></label>
                    <InputText @bind-Value="clientes.Email" class="form-control" />
                    <ValidationMessage For="@(() => clientes.Email)" />
                </div>
            </div>

                <!-- Telefono -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <label class="form-label" for="Telefono"><strong>Tel&eacute;fono:</strong></label>
                        <InputNumber @bind-Value="clientes.Telefono" class="form-control" />
                        <ValidationMessage For="@(() => clientes.Telefono)" />
                    </div>
               
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <label class="form-label" for="Direccion"><strong>Direcci&oacute;n:</strong></label>
                        <div class="input-group">
                            <InputText @bind-Value="clientes.Direccion" class="form-control" />
                        </div>
						<ValidationMessage For="@(() => clientes.Direccion)" /><br />
                    </div>
                 </div>

                <div class="card-footer d-flex justify-content">
                    <div class="col-xs-18 col-sm-12 col-md-10 col-lg-30 col-xl-40">
                        <button type="button" class="btn btn-primary bi bi-file-earmark-plus " @onclick="Nuevo">Nuevo<i class="oi oi-file"/></button>
                        <button type="submit" class="btn btn-success bi bi-floppy">Guardar<i class="oi oi-document"/></button>
                       
                    </div>
                </div>
                @mensaje
            </div>
        </div>
    </div>
    
</EditForm>


@code {
    public Clientes clientes { get; set; } = new Clientes();
    public string? mensaje;
    public string? rnc;

    public async Task Buscar()
    {
        var encontrado = await clientesService.FindAsync(clientes.ClientesId);
        if (encontrado != null)
            clientes = encontrado;
        else
            mensaje = "No se encontró el cliente";
    }

    public async Task Guardar()
    {
        var guardo = await clientesService.Guardar(clientes);

        if (guardo)
        {
            mensaje = "Se guardó correctamente";
        }
        else
        {
            mensaje = "No se pudo guardar, intente de nuevo";
        }
    }

    void Nuevo()
    {
        this.clientes = new Clientes();
        mensaje = string.Empty;
    }  
}


  

     
